.intro {
  border-radius: 0% 2% 2% 0%;
  width: 70%;
  height: 70%;
  min-width: 400px;
  min-height: 700px;
  margin-top: 5%;
  background-color: seashell;
  box-shadow: 2px 2px 20px;
  float: left;
}

.image {
  display: inline;
  float: right;
}
.image1 {
  margin-right: 30%;
  background-color: #6a35af;
  display: inline;
  min-width: 100px;
  border-radius: 100%;

  box-shadow: 2px 2px 9px;
}

.info {
  display: inline;
  float: left;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 40px;
  padding-left: 150px;
  width: 30%;
}

.title {
  text-align: center;
}
