.body {
  margin: 0;
}
p {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 0.8em;
}

.logo {
  width: 130px;
}

header {
  display: flex;
  justify-content: space-between;
}

.hide-mobile {
  display: none;
}
.menu {
  width: 25px;
  margin-top: 45%;
}
.mainImage {
  width: 70%;
  margin: 2em auto 2em 25%;
}

h1,
.subHead {
  position: relative;
  z-index: 3;
}

.subHead {
  font-size: 1.3em;
}

.gray-container {
  background: #f6f6f6;
  padding: 4em 0 2em;
  margin-top: -3%;
}
.gray-container ul li:first-child {
  margin-bottom: 2em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  color: #00c2ff;
}

h2 {
  margin-top: 7%;
}

.cta {
  background: #00cc80;
  width: calc(100% - 1em);
  display: block;
  color: #fff;
  border-radius: 20px;
  padding: 0.5em;
  text-decoration: none;
  margin: 3% auto 7%;
  position: relative;
  z-index: 4;
}

.footer-cotainer {
  width: 100%;
  background: #3d444a;
  color: #fff;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}

.footer-cotainer .container {
  transform: skewY(-2deg);
}

.footer-cotainer:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3d444a;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -2;
}

.footer-cotainer::after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  top: -80px;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  color: #9d9d9d;
  font-size: 0.8em;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 5;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(61, 68, 71);
}

nav ul li a:hover {
  background-color: rgb(124, 131, 134);
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: 1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 650px) {
  .mainImage {
    width: 50%;
  }
  .h1 {
    font-size: 3em;
    margin: 0;
  }

  .subHead {
    font-size: 1.4em;
    margin-bottom: 12%;
  }

  .gray-container ul {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .cta {
    width: 50%;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-desktop {
    display: none;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }

  nav ul li {
    float: left;
    background: none;
  }

  nav ul li a {
    color: black;
    background-color: inherit;
    text-align: right;
  }

  nav ul li a:hover {
    background-color: inherit;
  }

  .scroll {
    width: 30px;
    animation: move 1s infinite alternate;
  }
  @keyframes move {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(20px);
    }
  }
}
